@{  Layout = null; }
<br />
<div class="row">
    <div class="col-lg-6">
        <div class="media" style="min-height:50px">
            <a class="pull-left" href="#">
                <img class="media-object" src="~/image/zipcode.png" width="64" height="64" alt="Media Object">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Busca de CEP </h4>
                <p>
                    <a href="https://github.com/netdragoon/tutorial/blob/master/READMECEP.md" target="_blank" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt"></span> Instalação </a>
                    <a href="https://www.nuget.org/packages/CanducciCep/" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-modal-window"></span> NUGET </a>
                    <a href="/#/zipcode" target="_self" class="btn btn-success"><span class="glyphicon glyphicon-play-circle"></span> Demo </a>
                </p>
                <p><a target="_blank" href="https://www.nuget.org/packages/CanducciCep/"><img onclick="" src="https://img.shields.io/nuget/dt/CanducciCep.svg?label=download" border="0" /></a></p>
                <h4 class="text-danger">Pacote destinado a pesquisa do Código Postal, por Número do CEP ou por Endereço (Uf, Cidade e Endereço).</h4>
                
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="media" style="min-height:50px">
            <a class="pull-left" href="#">
                <img class="media-object" src="~/image/zipcode.png" width="64" height="64" alt="Media Object">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Busca de CEP por Endereço </h4>
                <p>
                    <a href="https://github.com/netdragoon/tutorial/blob/master/READMEAddress.md" target="_blank" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt"></span> Instalação </a>
                    <a href="https://www.nuget.org/packages/CanducciCep/" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-modal-window"></span> NUGET </a>
                    <a href="/#/address" target="_self" class="btn btn-success"><span class="glyphicon glyphicon-play-circle"></span> Demo </a>
                </p>
                <p><a target="_blank" href="https://www.nuget.org/packages/CanducciCepEndereco/"><img onclick="" src="https://img.shields.io/nuget/dt/CanducciCepEndereco.svg?label=download" border="0" /></a></p>
                <h4 class="text-danger">Pacote destinado a pesquisa do Código Postal, por Número do CEP ou por Endereço (Uf, Cidade e Endereço).</h4>               
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-6">
        <div class="media" style="min-height:50px">
            <a class="pull-left" href="#">
                <img class="media-object" src="~/image/1443677268_Money-Increase.png" alt="Media Object">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Cotação do Dolar </h4>
                <p>
                    <a href="https://github.com/netdragoon/tutorial/blob/master/READMEDOLAR.md" target="_blank" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt"></span> Instalação </a>
                    <a href="https://www.nuget.org/packages/CanducciQuoteDolar/" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-modal-window"></span> NUGET </a>
                    <a href="/#/cotacao" target="_self" class="btn btn-success"><span class="glyphicon glyphicon-play-circle"></span> Demo </a>
                </p>
                <p><a target="_blank" href="https://www.nuget.org/packages/CanducciQuoteDolar/"><img onclick="" src="https://img.shields.io/nuget/dt/CanducciQuoteDolar.svg?label=download" border="0" /></a></p>
                <h4 class="text-danger">Pacote destinado a pesquisa da Cotação do Dolar na sua data mais atual.</h4>                
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="media" style="min-height:50px">
            <a class="pull-left" href="#">
                <img class="media-object" src="~/image/1447477148_Weather.png" style="width:64px; height:64px;" alt="Media Object">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Previsão do Tempo (CPTEC/INPE)</h4>
                <p>
                    <a href="https://github.com/netdragoon/tutorial/blob/master/READMEForecast.md" target="_blank" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt"></span> Instalação </a>
                    <a href="https://www.nuget.org/packages/Canducci.Forecast/" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-modal-window"></span> NUGET </a>
                    <a href="/#/forecast" target="_self" class="btn btn-success"><span class="glyphicon glyphicon-play-circle"></span> Demo </a>
                </p>
                <p><a target="_blank" href="https://www.nuget.org/packages/Canducci.Forecast/"><img onclick="" src="https://img.shields.io/nuget/dt/Canducci.Forecast.svg?label=download" border="0" /></a></p>
                <h4 class="text-danger">Pacote destinado obtenção da previsão do tempo de um determinada cidade do Brasil.</h4>
                <p><strong>CPTEC/INPE </strong><a href="http://servicos.cptec.inpe.br/XML/" class="btn-link" target="_blank">WebService</a></p>                
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-6">
        <div class="media" style="min-height:50px">
            <a class="pull-left" href="#">
                <img class="media-object" src="~/image/1448080159_user_man_zpstezr3nie.png" style="width:64px; height:64px;" alt="Media Object">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Gravatar</h4>
                <p>
                    <a href="https://github.com/netdragoon/gravatar" target="_blank" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt"></span> Instalação </a>
                    <a href="https://www.nuget.org/packages/Canducci.Gravatar/" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-modal-window"></span> NUGET </a>
                    <a href="/#/gravatar" target="_self" class="btn btn-success"><span class="glyphicon glyphicon-play-circle"></span> Demo </a>
                </p>
                <p><a target="_blank" href="https://www.nuget.org/packages/Canducci.Gravatar/"><img onclick="" src="https://img.shields.io/nuget/dt/Canducci.Gravatar.svg?label=download" border="0" /></a></p>
                <h4 class="text-danger">Pacote destinado a resgatar seu pt.gravatar.com sua imagem padrão</h4>
                <p><strong>Gravatar Desenvolvedores </strong><a href="http://pt.gravatar.com/site/implement/" class="btn-link" target="_blank">Gravatar - Recursos para programadores</a></p>                
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="media" style="min-height:50px">
            <a class="pull-left" href="#">
                <img class="media-object" src="~/image/1449629657_Location HTTP.png" style="width:64px; height:64px;" alt="Media Object">
            </a>
            <div class="media-body">
                <h4 class="media-heading">ShortUrl</h4>
                <p>
                    <a href="https://github.com/netdragoon/shorturl" target="_blank" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt"></span> Instalação </a>
                    <a href="https://www.nuget.org/packages/CanducciShortUrl/" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-modal-window"></span> NUGET </a>
                    <a href="/#/shorturl" target="_self" class="btn btn-success"><span class="glyphicon glyphicon-play-circle"></span> Demo </a>
                </p>
                <p><a target="_blank" href="https://www.nuget.org/packages/CanducciShortUrl/"><img onclick="" src="https://img.shields.io/nuget/dt/CanducciShortUrl.svg?label=download" border="0" /></a></p>
                <h4 class="text-danger">Pacote destinado a gerar url encurtadas para sites (500 requisições diárias para cada conta de usuário)</h4>
                <p><strong>tr.im </strong><a href="http://tr.im" class="btn-link" target="_blank">Api - tr.im</a></p>                
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-6">
        <div class="media" style="min-height:50px">
            <a class="pull-left" href="#">
                <img class="media-object" src="~/image/1449170629_Neon_Line_Social_Circles_50Icon_10px_grid-45.png" style="width:64px; height:64px;" alt="Media Object">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Thumbnail (Miniaturas e Video do YouTube para compartilhar e incorporar em seu site)</h4>
                <p>
                    <a href="https://github.com/netdragoon/tutorial/blob/master/READMEYouTubeThumbnail.md" target="_blank" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt"></span> Instalação </a>
                    <a href="https://www.nuget.org/packages/CanducciYoutubeThumbnail/" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-modal-window"></span> NUGET </a>
                    <a href="/#/thumbnail" target="_self" class="btn btn-success"><span class="glyphicon glyphicon-play-circle"></span> Demo </a>
                </p>
                <p><a target="_blank" href="https://www.nuget.org/packages/CanducciYoutubeThumbnail/"><img onclick="" src="https://img.shields.io/nuget/dt/CanducciYoutubeThumbnail.svg?label=download" border="0" /></a></p>
                <h4 class="text-danger">Pacote destinado a geração das miniaturas do youtube, compartilhar o video e incorporar em seu site</h4>                
            </div>
        </div>
    </div>
    <div class="col-lg-6">

    </div>
</div>