@{  Layout = null; }
<br />
<div class="media" style="min-height:50px">
    <a class="pull-left" href="#">
        <img class="media-object" src="~/image/zipcode.png" width="64" height="64" alt="Media Object">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Busca de CEP</h4>
        <h4 class="text-danger">Pacote destinado a pesquisa do Código Postal, por Número do CEP ou por Endereço (Uf, Cidade e Endereço).</h4>
        <p>
            <a href="https://github.com/diasfulvio/CANDUCCICEP" target="_blank" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt"></span> Instalação </a>
            <a href="#/zipcode" target="_self" class="btn btn-success"><span class="glyphicon glyphicon-play-circle"></span> Demo </a>
        </p>
    </div>
</div>
<br />
<hr />
<br />
<div class="media" style="min-height:50px">
    <a class="pull-left" href="#">
        <img class="media-object" src="~/image/1443677268_Money-Increase.png" alt="Media Object">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Cotação do Dolar</h4>
        <h4 class="text-danger">Pacote destinado a pesquisa da Cotação do Dolar na sua data mais atual.</h4>
        <p>
            <a href="https://github.com/diasfulvio/CANDUCCICEP/blob/master/quotedolar.md" target="_blank" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt"></span> Instalação </a>
            <a href="#" target="_self" class="btn btn-success"><span class="glyphicon glyphicon-play-circle"></span> Demo </a>
        </p>
    </div>
</div>
<br />
<hr />
<br />
