@{  ViewBag.Title = "Index"; Layout = "~/Views/Shared/_LayoutPackages.cshtml"; }
<span id="up" nam="up"></span>
<div ng-view></div>
<script type="text/javascript">
    function ancoraSet(id)
    {
        $('html, body').animate({ scrollTop: 0 }, 'slow');
    }
    function is_valid_url(url) {
        return url.match(/^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/);
    }
</script>


    @*<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" style="height:500px;">
            <div class="panel-heading">BUSCA DE CEP</div>
            <div class="panel-body">
                <form ng-submit="" method="post">
                    <div class="input-group col-md-4">
                        <input type="text" class="form-control" placeholder="Digite o CEP" maxlength="8" required>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-filter"></span> Buscar</button>
                        </span>
                    </div>
                    <div class="input-group col-md-8">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>*@
